@model ICollection<PortfolioEdersonKeener.Models.Produto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function ExcluirProduto(idProduto) {
        var redirectPage = "https://" + window.location.host + "/Produto/Excluir/" + idProduto;
        if (confirm("Deseja realmente excluir este produto?")) {
            window.location.replace(redirectPage);
        }
    }
</script>

<h1>Lista de Produtos</h1>

<div class="form-group">
    @Html.ActionLink("Novo Produto", "Create", "Produto", null, new { @class = "btn btn-success" })
</div>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>DESCRIÇÃO</th>
            <th>ESTOQUE ATUAL</th>
            <th>PREÇO DE VENDA</th>
            <th>VALIDADE</th>
            <th>CATEGORIA</th>
            <th>MARCA</th>
            <th>MEDIDA</th>
            <th class="col-2">AÇÕES</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Nome</td>
                <td>@produto.EstoqueAtual</td>
                <td>@produto.PrecoVenda</td>
                <td>@produto.Validade</td>
                <td>@produto.Categoria.Nome</td>
                <td>@produto.Marca.Nome</td>
                <td>@produto.UnidadeMedida.Descricao</td>
                <td>
                    @Html.ActionLink("Editar", "Editar", "Produto", new { id = produto.Id }, new { @class = "btn btn-warning" })
                    <button type="button" class="btn btn-danger" onclick="ExcluirProduto(@produto.Id)">Excluir</button>
                </td>
            </tr>
        }
    </tbody>
</table>

